html {
    box-sizing: border-box;
    font-size: 62.5%;  /** 1 REM = 10PX¨  *HAAACK* **/
  }
*, *:before, *:after {
        box-sizing: inherit;
  }

  body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1;  /** INTERLINIEADO **/
    background-image: url(./assets/fondo.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 1rem;
}


/* .container{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    height: 100vh;
    height: 100vh;
    width: 100vw;
} */

/* .search_container{
    display: flex;
    justify-content: center;
} */


/* .contenedorBusqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
} */

.contenedor_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 3rem;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.contenedorBusqueda{
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}
.contenedorBusqueda input{
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    padding-top: 2rem;
    border: none;
    outline:0rem;
}

.contenedorBusqueda .texto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #380505;
}

.contenedorBusqueda .texto:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.contenedorBusqueda .texto_busqueda{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color:#380505;
}
.contenedorBusqueda input:focus + .texto .texto_busqueda,
.contenedorBusqueda input:valid + .texto .texto_busqueda {
    transform: translateY(-150%);
    font-size: 14px;
    color:#2ecece;
}
.contenedorBusqueda input:focus + .texto:after,
.contenedorBusqueda input:valid + .texto:after {
    transform: translateX(0%);
}
/* .contenedorBusqueda #nombre{
    margin-bottom: 2rem;
} */

.container_btn  .btn{
    width: 15rem;

}
.container_btn  .btn:hover{
    cursor: pointer;
}




/**/
section.info_container{
    display: none;
}

.info_container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.personaje_db{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid black;
    width: 80%;
    margin-left:  3rem;
    background-color: rgba(232, 157, 19, 0.177);
    border-radius: 1rem;
}

.imagen_personaje{
    display: flex;
    justify-content: center;
}
.imagen_personaje img{
    width: 15rem;
    height: 15rem;
}

.info_general{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: 0;
    gap: 0;
}
.info_general p{
    margin: .5rem;
}